<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">Kontakt: kk@c66.pl +48793551983</p>
    </footer>
  </div>

<script src="assets/js/bootstrap.min.js"></script>

<script type="module">


import PhotoSwipeLightbox from '/assets/js/photoswipe-lightbox.esm.min.js';

const lightbox = new PhotoSwipeLightbox({
  gallery: '.gallery',
  children: 'a',
  pswpModule: () => import('/assets/js/photoswipe.esm.min.js'),
});

lightbox.init();

</script>

