<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}

    <section class="py-5">
      <div class="px-4 my-5 text-center">
        <h1 class="display-5 fw-bold">Dom w malowniczej okolicy</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Sprzedam <strong>dom rodzinny</strong> w spokojnej i zielonej okolicy, 
          <a href="https://www.google.com/maps/place/42-674+Ptakowice/@50.41741,18.7650394,4233m/data=!3m2!1e3!4b1!4m6!3m5!1s0x47112939bc0a5bcb:0x4e58a59b502101c1!8m2!3d50.4169179!4d18.7892585!16s%2Fm%2F05f8y3v" target="_blank"><strong>Ptakowice</strong></a> powiat tarnogórski.</p>
        </div>
        <h3><a href="mailto:kk@c66.pl">kk@c66.pl</a> <a href="tel:+48793551983">+48793551983</a></h3>
      </div>
    </section>

    {% include desc.html dataset=site.data.desc.about%}

    {% include gallery.html version=1 title="Posesja" dataset=site.data.photos_set1 %}
    {% include desc.html dataset=site.data.desc.site%}

    {% include gallery.html version=2 title="Piętro"  dataset=site.data.photos_set2 %}
    {% include desc.html dataset=site.data.desc.floor1%}
    
    {% include gallery.html version=2 title="Parter"  dataset=site.data.photos_set3 %}
    {% include desc.html dataset=site.data.desc.floor0%}

    {% include gallery.html version=2 title="Piwnica" dataset=site.data.photos_set4 %}
    {% include desc.html dataset=site.data.desc.basement%}

    {% include gallery.html version=2 title="Garaże"  dataset=site.data.photos_set5 %}
    {% include desc.html dataset=site.data.desc.garage%}

    {% include footer.html %}
  </body>
</html>

