<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}

    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Dom w malowniczej okolicy</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Sprzedam <strong>dom rodzinny</strong> w spokojnej i zielonej okolicy, <strong>Ptakowice</strong> powiat tarnogórski.</p>
      </div>
      <h3>m:kk@c66.pl p:+48793551983</h3>
    </div>


    <div class="container">
      <div class="row">
        <div class="gallery" id="gallery">
          {% for p in site.data.photos_set1 %} 
            {% assign photo = site.data.photos[p.code] %} 
            <figure class="gallery__item gallery__item--{{ forloop.index }}">
              <a
                href="{{photo.url}}"
                data-pswp-width="{{photo.width}}"
                data-pswp-height="{{photo.height}}"
                target="_blank"
              >
              <img src="{{photo.url}}" class="gallery__img">
            </a>
            </figure>
          {% endfor %}
        </div>
      </div>
    </div>


    {%- include footer.html -%}
  </body>
</html>

